.search-bar {
  margin-bottom: 30px;
}

.search-bar h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}